@import '../../../../shared/shared-mixins.scss';

:host {
  @include flex-stretched-container(column);
  align-items: center;
  justify-content: center;
}

#screenshare {
  @include flex-stretched-container(column);
  @include flex-aligned(center, center);
  max-width: 98vw;
  max-height: 74vh;

  video {
    flex: 1;
  }
}
