@import "../../../shared/shared-variables.scss";
@import "../../../shared/shared-mixins.scss";

@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

#header {
    @include flex-container(row);
    @include flex-aligned(center, center);

    @include primary-rounding;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 30px;
    background-color: $white;
    padding: 5px $primary-gap 5px $primary-gap;
    margin-top: -$primary-gap;
    font-size: 22px;
    font-weight: 500;

    #title {
        font-size: 18px;
        width: 0;
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;

        @include media-breakpoint-up(md) {
            font-size: 20px;
        }
    }
}
