<img src="/assets/logo.png" />
<div class="wrap">
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <button
        mat-fab
        color="primary"
        [routerLink]="['/user']"
        matTooltip="User profile"
      >
        <mat-icon>person</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-fab
        color="primary"
        [routerLink]="['/rooms']"
        matTooltip="Room list"
      >
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-fab color="primary" [routerLink]="['/time-table']">
        <mat-icon>calendar_today</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-fab color="link" (click)="logout()" matTooltip="Logout">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
