<div id="livekit">
  <div class="main" [ngClass]="{ 'is-loading': isConnecting }">
    <!--p>
      in the room isConnecting: {{ isConnecting }} Number of users:
      {{ participants.length }} Has screen sharing: {{ !!screenTrack }}
    </p-->

    <livekit-screenshare [track]="screenTrack"></livekit-screenshare>

    <div class="row">
      <ng-container
        *ngFor="
          let p of participants
            | slice: 0:groupAt - (isGroupingNeccessary ? 1 : 0)
        "
      >
        <app-participant-tile
          class="col col-6 col-md-4 col-lg-3 col-xl-2"
          [participant]="$any(p)"
          (settingsOpen)="settingsOpen()"
        >
          <livekit-participant
            [participant]="p"
            (localTrackChanged)="updateScreenShare()"
          ></livekit-participant>
        </app-participant-tile>
      </ng-container>
      <ng-container
        *ngIf="isGroupingNeccessary"
        [ngTemplateOutlet]="groupTile"
      ></ng-container>
    </div>
  </div>
</div>

<ng-template #groupTile>
  <app-participant-tile
    class="col col-6 col-md-4 col-lg-3 col-xl-2"
    [groupCount]="groupedParticipantCount"
  >
  </app-participant-tile>
</ng-template>
