@import "../../../shared/shared-variables.scss";

:host {
    display: flex;
    flex: 1;
}

#outer-main {
    display: flex;
    flex-direction: column;
    flex: 1;

    $gapAmount: 13px;
    gap: $gapAmount;

    padding: $gapAmount;
    background-color: $primary-dark;

    $roundedBy: 20px;

    #header,
    #footer {
        display: flex;
        flex-direction: row;

        $paddingAmount: 18px;

        &#header {
            align-items: center;
            justify-content: center;
            font-size: 22px;
            font-weight: 500;

            height: 30px;
            padding: 5px $paddingAmount 5px $paddingAmount;
            margin-top: -$gapAmount;
            border-radius: 0 0 $roundedBy $roundedBy;
            background-color: $white;
        }

        &#footer {
            align-items: stretch;
            height: 75px;
            padding: 0;

            .item-block {
                display: flex;
                flex: 1;
                align-items: center;

                .logo-block {
                    width: 200px;
                    height: 100%;
                    background-image: url("/assets/logo.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center left;
                }

                &#navigation-block {
                    justify-content: flex-end;
                }
            }
        }
    }

    #inner-main {
        flex: 1;
        border-radius: $roundedBy;
        padding: 18px;
        background-color: $white;
        display: flex;
    }
}
