@import "../../../shared/shared-variables.scss";
@import "../../../shared/shared-mixins.scss";

:host {
  @include flex-stretched-container(row);
}

#outer-main {
  @include flex-stretched-container(column);
  @include primary-gap;

  padding: $primary-gap;
  background-color: $primary-dark;

  #inner-main {
    @include flex-stretched-container(row);
    @include primary-rounding;

    padding: 18px;
    background-color: $white;
    overflow: hidden;
  }
}
