@import "../../../shared/shared-variables.scss";
@import "../../../shared/shared-mixins.scss";

:host {
  @include flex-stretched-container(row);
}

#outer-main {
  @include flex-stretched-container(column);
  @include primary-gap;

  &#header {
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
  }

  #inner-main {
    @include flex-stretched-container(row);
    @include primary-rounding;

    padding: 18px;
    background-color: $white;
  }
}
