@import "../../../shared/shared-variables.scss";
@import "../../../shared/shared-mixins.scss";

@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

:host {
    @include flex-stretched-container(column);
}

.tile {
    @include prevent-select;
    @include flex-stretched-container(column);
    @include flex-aligned(center, center);
    @include primary-gap;
    @include primary-rounding;
    background-color: black;
    color: white;

    &.participant-tile {
        position: relative;
        font-size: 25px;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            font-size: 50px;
        }

        &.lecturer {
            background-color: $primary-light;
        }

        .action-control {
            @include flex-aligned(center, center);
            @include primary-rounding;
            position: absolute;
            top: $primary-gap;
            right: $primary-gap;

            width: 30px;
            height: 45px;
            background-color: $black-light;
            cursor: pointer;

            &:hover {
                background-color: $primary-dark;
            }
        }
    }

    &.group-tile {
        @include flex-container(column);
        font-size: 23px;
        gap: $primary-gap * 1.5;

        @include media-breakpoint-up(md) {
            font-size: 25px;
        }

        #group-count-label {
            font-size: 30px;

            @include media-breakpoint-up(md) {
                font-size: 45px;
            }
        }
    }
}
