<ng-container
  *ngTemplateOutlet="participant ? participantTile : groupTile"
></ng-container>

<ng-template #participantTile>
  <div
    class="tile participant-tile"
    (mouseover)="showActionsButton = true"
    (mouseleave)="showActionsButton = false"
  >
    <div *ngIf="showActionsButton" class="action-control">
      <mat-icon (click)="openActionsPopup()">more_vert</mat-icon>
    </div>
    <span class="monogram"> {{ participant?.identity }}</span>
  </div>
</ng-template>
<ng-template #groupTile>
  <div class="tile group-tile">
    <div id="group-count-label">+ {{ groupCount }}</div>
    <div>
      {{ participantsText }}
    </div>
  </div>
</ng-template>
