<div id="content">
  <div id="action-row">
    <div id="navigation-actions">
      <button mat-button color="primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()">Previous
      </button>
      <button mat-raised-button color="primary" mwlCalendarToday [(viewDate)]="viewDate">Today</button>
      <button mat-button color="primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()">Next
      </button>
    </div>
    <div id="title">{{viewDate | calendarDate: (view + 'ViewTitle'):'en'}}</div>
    <div id="view-actions">
      <button mat-button color="primary" (click)="setView(CalendarView.Month)"
              [class.active]="view === CalendarView.Month">Month
      </button>
      <button mat-button color="primary" (click)="setView(CalendarView.Week)"
              [class.active]="view === CalendarView.Week">Week
      </button>
      <button mat-button color="primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
        Day
      </button>
    </div>
  </div>
  <div id="table">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-day-view>
    </div>
  </div>
</div>
